*.log

slh_dsa_*.s
slh_dsa_*.o
slh_dsa_*.so

/params/params.h
/x86-64/ref/active_params.jinc
/x86-64/avx2/active_params.jinc

cli
/outputs

.pytest_cache
/tests/__pycache__
/tests/acvp/grouped/*.json

/bench/impls/
/bench/slh_dsa_bench
/bench/impls
/bench/results

/openssl
/sphincsplus