[submodule "formosa-keccak"]
	path = formosa-keccak
	url = https://github.com/formosa-crypto/formosa-keccak.git
[submodule "sphincsplus"]
	path = sphincsplus
	url = https://github.com/sphincs/sphincsplus.git
[submodule "jasmin"]
	path = jasmin
	url = https://github.com/jasmin-lang/jasmin.git
